body {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #2a2e34;
    border-bottom: 6px solid #0b0c0c;
    border-right: 6px solid #0b0c0c;
    border-radius: 15px;
    color: #e9eaec;
}

.profilepic-img {
    width: 150px;
    border: 1px solid white;
    border-radius: 10px;
}

.border-blue {
    border: 1px dotted blue;
}